.python-version
*.pyc
__pycache__/
*.patch
.idea
.continue
/build/
/dist/
/*.egg-info
/venv/
/.tox
/.venv
/.cache
/.coverage
/.hypothesis/
/.mypy_cache/
/.pytest_cache
/.ruff_cache/
/htmlcov
coverage.xml
junit.xml
/tmp
